.App {
  margin: 0px;
  font-family: "Roboto Slab", serif;
  background: #090a0c;
  width: 100%;
}
.navbar{
  background: #7068e2;
}
.navbar-brand{
  color: rgb(24, 6, 6);
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(170, 25, 25, 0.2);
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
}
.cardNews {
  background-color: #2a265f;
  /* color: #fff; */
  padding: 30px;
  /* max-width: 250px; */
}
.card-body {
  /* padding: 30px; */
  position: relative;
  width: 100%;
}
h1 {
  color :#fff
}

.btn {
  background-color: #2a265f;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  position: absolute;
  bottom: -20px;
  right: -5px;
  letter-spacing: 1px;
}

.spinner {
  justify-content: center;
  align-items: center;
  margin-left: 50%;
  color: red;
  width: 100%;
  height: 100vh;
}
